/* COMMON RULES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.viewport {
    height: 100vh;
}

/* debug rules */
.debug header {
    height: 150px;
}


/* UTILITY RULES */


/******************* 
HEADER
*******************/
header {
    background-color: #080B12;
}

/******************* 
SIDE LEFT
*******************/

/******************* 
MAIN
*******************/

/******************* 
FOOTER
*******************/
