/* COMMON RULES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.viewport {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.large_container {
    display: flex;
    height: calc(100vh - 100px);
}
/* UTILITY RULES */
.home:hover,
.search:hover,
.bookshelf:hover,
.add_playlist:hover,
.playlist a:hover,
.download a:hover,
.menu a:hover {
    color: white;
}

.home:hover img,
.search:hover img,
.bookshelf:hover img,
.download a:hover img {
    filter: brightness(0) invert(1);
}

/******************* 
SIDE LEFT
*******************/
.side_left {
    justify-self: flex-start;
    background-color: black;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* side_top */
.logo{
    height: 90px;
}

.logo img {
    width: 80%;
    padding: 20px 16px;
}

.side_menu {
    line-height: 30px;
}

.side_menu img {
    width: 13%;
    vertical-align: middle;
}

.home {
    color: #D2D2D2;
    border-left: 2px solid #ADFF2F;
}

.search, .bookshelf {
    color: #A3A3A3;
}

.home,
.search,
.bookshelf {
    cursor: pointer;
    padding: 0 15px;
}

.side_menu span {
    font-size: 12px;
    font-weight: 500;
}

.playlist {
    color: #A3A3A3;
    padding: 0 15px;
    margin-top: 15px;
}

.playlist h2 {
    color: white;
    font-size: 14px;
}

.playlist .add_playlist i {
    font-size: 36px;
    vertical-align: middle;
}

.playlist .add_playlist {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}

.list_playlist ul {
    list-style: none;
    line-height: 32px;
    font-size: 12px;
    font-weight: 500;
}

.playlist a {
    color: #A3A3A3;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

/* side_bottom */
.side_bottom {
    padding: 0 15px;
}

.side_bottom .download img {
    width: 11%;
    vertical-align: middle;
}

.download {
    padding: 10px 0;
    border-bottom: 1px solid #636363;
}

.download a {
    color: #A3A3A3;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}

.profile {
    margin: 10px 0;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.side_bottom .profile img {
    background-color: #808080;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    vertical-align: middle;
    margin-right: 8px;
}

/******************* 
CONTENT
*******************/
.content {
    width: calc(100% - 200px);
    height: 100%;
}

/* calltoaction */
.calltoaction {
    background-color: #080B12;
    height: 90px;
    display: flex;
    justify-content: flex-end;
}

.button {
    align-self: center;
    margin-right: 20px;
}

.button_upgrade {
    padding: 12px 40px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.button:hover {
    transform: scale(1.1);
}

/* main */
main {
    background-color: #141922;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 90px);
}

.menu {
    text-align: center;
    list-style: none;
    padding: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #A3A3A3;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin: 0 10px;
}

.container {
    width: 96%;
    margin: auto;
}

.container h2 {
    color: white;
    margin: 10px 0 25px;
}

.row {
    display: flex;
}

.col {
    margin: 0 6px;
    width: calc(100% / 6);
}

.row img {
    width: 100%;
}

.col h3 {
    color: white;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
}

.col div {
    text-align: center;
    color: #A3A3A3;
    font-size: 10px;
    font-weight: 600;
}

/******************* 
FOOTER
*******************/
footer {
    background-color: #282828;
    height: 100px;
}