/* COMMON RULES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.viewport {
    height: 100vh;
}

.large_container {
    display: flex;
    height: calc(100vh - 100px);
}
/* UTILITY RULES */


/******************* 
HEADER
*******************/
.calltoaction {
    background-color: #080B12;
    height: 10%;
}

/******************* 
SIDE LEFT
*******************/
.side_left {
    justify-self: flex-start;
    background-color: black;
    width: 300px;
    height: 100%;
}

/******************* 
MAIN
*******************/
.content {
    width: calc(100% - 300px);
    height: 100%;
}

main {
    background-color: #141922;
    overflow: scroll;
    height: 90%;
}


/******************* 
FOOTER
*******************/
footer {
    background-color: #282828;
    height: 100px;
}